@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.eot");
  src: url("../fonts/Oswald/Oswald-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Oswald/Oswald-Regular.woff2") format("woff2"),
    url("../fonts/Oswald/Oswald-Regular.woff") format("woff"),
    url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype"),
    url("../fonts/Oswald/Oswald-Regular.svg#Oswald-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Bold.eot");
  src: url("../fonts/Oswald/Oswald-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Oswald/Oswald-Bold.woff2") format("woff2"),
    url("../fonts/Oswald/Oswald-Bold.woff") format("woff"),
    url("../fonts/Oswald/Oswald-Bold.ttf") format("truetype"),
    url("../fonts/Oswald/Oswald-Bold.svg#Oswald-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work-Sans/WorkSans-Regular.eot");
  src: url("../fonts/Work-Sans/WorkSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Work-Sans/WorkSans-Regular.woff2") format("woff2"),
    url("../fonts/Work-Sans/WorkSans-Regular.woff") format("woff"),
    url("../fonts/Work-Sans/WorkSans-Regular.ttf") format("truetype"),
    url("../fonts/Work-Sans/WorkSans-Regular.svg#WorkSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work-Sans/WorkSans-Medium.eot");
  src: url("../fonts/Work-Sans/WorkSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Work-Sans/WorkSans-Medium.woff2") format("woff2"),
    url("../fonts/Work-Sans/WorkSans-Medium.woff") format("woff"),
    url("../fonts/Work-Sans/WorkSans-Medium.ttf") format("truetype"),
    url("../fonts/Work-Sans/WorkSans-Medium.svg#WorkSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work-Sans/WorkSans-SemiBold.eot");
  src: url("../fonts/Work-Sans/WorkSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Work-Sans/WorkSans-SemiBold.woff2") format("woff2"),
    url("../fonts/Work-Sans/WorkSans-SemiBold.woff") format("woff"),
    url("../fonts/Work-Sans/WorkSans-SemiBold.ttf") format("truetype"),
    url("../fonts/Work-Sans/WorkSans-SemiBold.svg#WorkSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

body {
  font: 400 14px "Oswald", sans-serif;
  color: #0f0f0f;
  letter-spacing: 0.1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
button {
  color: #0f0f0f;
  letter-spacing: 0.1em;
  outline: none;

  i {
    transition: all 0.5s ease;
  }
}

a {
  text-decoration: none;
}

button {
  font-family: "Oswald", sans-serif;
  border: none;
  display: block;
  background: none;
  padding: 0;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
textarea {
  font: 14px "Oswald", sans-serif;
  color: #909090;
  width: 267px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
}

input {
  padding: 0 0 17px 0;
  background: transparent;
}

textarea {
  height: 75px;
  resize: vertical;
  padding: 0;
}

.title {
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  transition: all 0.2s ease;
  text-transform: uppercase;
  z-index: 9;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.tagline {
  font: 500 12px "Work Sans", sans-serif;
  background: #000;
  color: #fff;
  letter-spacing: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 2px 5px;
  margin-bottom: -3px;
}

.offer {
  font-size: 48px;
  line-height: 1.458;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn {
  display: flex;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  transition: color 0.4s ease;

  i {
    transition: margin 0.4s ease;
    margin-left: auto;
  }

  &:hover {
    color: #01bcd4;

    i {
      margin-right: 4px;
    }
  }
}

.submit {
  width: 100%;

  &:hover {
    i {
      margin-right: 5px;
    }
  }

  &_follow {
    margin-top: 16px;
  }
}

// Home page
// Header
.header {
  color: #000;
  position: relative;
  padding: 32px 25px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
    }
  }

  &__btns {
    display: flex;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 55px 40px 0 80px;
  }

  &__content {
    margin-top: 96px;
  }

  &__tagline {
    width: 80px;
  }

  &__offer {
    color: #fff;
    font-size: 64px;
  }

  &__desc {
    font: 20px/1.2 "Work Sans", sans-serif;
    width: 418px;
    letter-spacing: normal;
    margin-top: 7px;
  }

  &__btn {
    color: #fff;
    width: 176px;
    display: flex;
    text-transform: uppercase;
    border: 2px solid #fff;
    margin-top: 44px;

    &-txt {
      padding: 7px 27px 8px;
      transition: all 0.3s ease;

      &:hover {
        background: #fff;
        color: #01bcd4;
      }
    }

    i {
      border-left: 2px solid #fff;
      padding: 11px 14px 11px 16px;

      &:hover {
        background: #fff;
        color: #01bcd4;
      }
    }
  }

  &__videos {
    display: flex;
    margin-top: 69px;
  }

  &__video {
    position: relative;
    width: 169px;
    height: 111px;
    box-shadow: 0 6px 27px rgba(0, 0, 0, 0.5);

    &:first-child {
      margin-right: 31px;
    }
  }

  &__play {
    background: url("../img/play1.png");
    width: 35px;
    height: 35px;
  }
}

.hamburger {
  width: 20px;
  height: 16px;
  position: relative;
  cursor: pointer;

  &-txt {
    text-transform: uppercase;
    margin-left: 15px;
  }

  &.open .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 7px;
  }

  &.open .bar:nth-child(2) {
    display: none;
  }

  &.open .bar:nth-child(3) {
    transform: rotate(-45deg);
    top: 7px;
  }
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  border: 1px solid rgba(169, 198, 204, 0.41);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.14);
  background: #fff;
  position: absolute;
  top: 85px;
  left: -3px;
  z-index: 99;
  transition: opacity 0.2s linear, top 0.2s linear, visibility 0.2s linear;
  padding: 3px 0;

  &::before {
    filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.15));
    bottom: 100%;
    left: 30px;
    border: 7px solid transparent;
    content: "";
    position: absolute;
    border-bottom-color: #fff;
  }

  &__item {
    width: 158px;
    color: #878787;
    font-size: 13px;
    display: block;
    position: relative;
    transition: all 0.3s ease;
    padding: 9px 26px;

    &:not(:last-child) {
      &::after {
        content: "";
        width: 110px;
        height: 1px;
        background: #e8eaea;
        position: absolute;
        bottom: 0;
        left: 16px;
      }
    }

    &:hover {
      background: #f6f7f7;
      color: #01bcd4;
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    top: 75px;
  }
}

.basket {
  position: relative;
  width: 19px;
  height: 22px;
  background: url("../img/cart2.svg");
  margin-right: 32px;

  &__count {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color: #fff;
    background: #8c68a2;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -11px;
  }
}

.lang {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

.search {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);

  &__input {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s linear;
    color: #000;
    border-bottom-color: #000;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &-btn {
    width: 23px;
    height: 22px;
    margin-right: 32px;
    background: url("../img/search2.svg") no-repeat;
    transition: all 0.2s linear;
  }
}

.suggests {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.14);
  max-height: 195px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #878787;
  }

  &.visible {
    border: 1px solid rgba(169, 198, 204, 0.41);
    padding: 3px 0;
  }
}

.suggest {
  width: 261px;
  display: block;
  color: #878787;
  font-size: 13px;
  transition: all 0.3s ease;
  position: relative;
  padding: 9px 26px;

  span {
    color: #0f0f0f;
  }

  &:not(:last-child) {
    &::after {
      content: "";
      width: 185px;
      height: 1px;
      background: #e8eaea;
      position: absolute;
      bottom: 0;
      left: 27px;
    }
  }

  &:hover {
    background: #f6f7f7;
  }
}

.video {
  object-fit: cover;
  outline: none;

  &-preview {
    img {
      width: 100%;
    }
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
}

.bar {
  background: #000;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  left: 0;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 7px;
  }

  &:nth-child(3) {
    bottom: 0;
  }
}

.slider {
  width: 570px;

  &__wrap {
    position: relative;
    height: 100%;
  }

  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    top: 50%;

    i {
      margin-left: 12px;
    }
  }

  &__prev {
    transform: rotate(-90deg);
    left: 10px;
  }

  &__next {
    transform: rotate(90deg);
    right: 10px;
  }

  &__dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 44px;
  }

  &__dot {
    color: #00d1f1;
    font-weight: 700;
    margin: 0 11px;
    transition: all 0.5s ease;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      width: 11px;
      height: 2px;
      position: absolute;
      bottom: -4px;
      left: 50%;
      background: #fff;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.5s ease;
    }

    &:hover {
      color: #fff;
    }

    &.active {
      color: #fff;

      &::after {
        opacity: 1;
      }
    }
  }
}

.slide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.close {
  position: absolute;
  top: 27px;
  right: 20px;
  width: 15px;
  height: 15px;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transition: all 0.1s linear;
    background: #929292;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {

    &::before,
    &::after {
      background: #0f0f0f;
    }
  }
}

.agree {
  font-size: 13px;
  background: #01bcd4;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover {
    background: #009fb4;
  }
}

.city {
  position: absolute;
  top: 15px;
  left: 130px;
  width: 306px;
  z-index: 99;
  background: #fff;
  padding: 22px 29px 24px 23px;
  font-family: "Work Sans", sans-serif;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(169, 198, 204, 0.41);
  transition: opacity 0.2s linear, top 0.2s linear, visibility 0.2s linear;

  &.hide {
    top: 54px;
    opacity: 0;
    visibility: hidden;
  }

  &__close {
    top: 23px;
    right: 17px;
    width: 13px;
    height: 13px;
  }

  &__txt {
    font-weight: 600;
    color: #757575;
    letter-spacing: 0.05em;
  }

  &__success {
    width: 196px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    line-height: 1.35;
    letter-spacing: 0.1em;
    text-shadow: 0 0 rgba(117, 117, 117, 0.4);
  }

  &__input {
    width: 244px;
    font-size: 12px;
    padding-bottom: 14px;
    margin-top: 10px;
  }

  &__name {
    color: #525252;
  }

  &__btns {
    display: flex;
    margin-top: 15px;

    button {
      padding: 8px 0;
    }
  }

  &__agree {
    margin: 0 13px 0 1px;
    width: 52px;
  }

  &__another {
    width: 124px;
    font-size: 13px;
    background: #f2f2f2;
    color: #525252;
    transition: all 0.2s ease;

    &:hover {
      background: #e0e0e0;
    }
  }

  &__info {
    color: #bdbdbd;
    font-size: 11px;
    margin-top: 13px;
    letter-spacing: 0.04em;
    line-height: 1.35;

    span {
      color: #0f0f0f;
    }
  }
}

.header_home {
  color: #fff;
  padding-bottom: 223px;
  background-image: linear-gradient(122deg, #00b9d4, #892cb8);
  background-color: #01bcd4;
  animation: 22s linear infinite animBg;
  background-size: 250% 250%;

  .bar {
    background: #fff;
  }

  .title {
    color: #fff;
  }

  .search__input {
    color: #fff;
    border-bottom-color: #fff;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 1.1+ */
      color: rgb(214, 211, 211);
      opacity: 1;
      /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgb(214, 211, 211);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgb(214, 211, 211);
    }
  }

  .search-btn {
    background-image: url("../img/search1.svg");
  }

  .basket {
    background-image: url("../img/cart1.svg");

    &__count {
      background: #000;
    }
  }

  .lang {
    color: #fff;
  }
}

@keyframes animBg {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 93% 100%;
  }
}

// Feature
.feature {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 110px 25px 140px;

  &__tagline {
    width: 72px;
  }

  &__offer {
    width: 219px;
    margin-top: 5px;
  }

  &__link {
    width: 153px;
    margin-top: 25px;
  }

  &__box {
    width: 469px;
    box-shadow: 0 6px 27px rgba(0, 0, 0, 0.1);
    padding: 30px 0 50px;
    margin-top: 48px;
  }

  &__colors {
    display: flex;
    margin-left: 28px;

    li:first-child {
      margin-right: 46px;
    }
  }

  &__color {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:not(:first-child) {
      margin-top: 44px;
    }

    &.active {
      .feature__cicle {
        border: 2px solid #ba8084;

        &_2 {
          border-color: #76a0a8;
        }

        &_3 {
          border-color: #e4bf9c;
        }

        &_4 {
          border-color: #9878cf;
        }

        &_5 {
          border-color: #a2a9e4;
        }

        &_6 {
          border-color: #84ab6f;
        }
      }
    }

    &-name {
      font: 500 20px "Work Sans", sans-serif;
      letter-spacing: normal;
    }
  }

  &__cicle {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 18px;

    &-inner {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: block;
      background: #ba8084;

      &_2 {
        background: #76a0a8;
      }

      &_3 {
        background: #e4bf9c;
      }

      &_4 {
        background: #9878cf;
      }

      &_5 {
        background: #a2a9e4;
      }

      &_6 {
        background: #84ab6f;
      }
    }
  }

  &__slider {
    width: 602px;
    position: relative;
  }

  .slide {
    margin-left: 25px;
  }

  .slider__btn {
    top: 260px;
  }

  .slider__prev {
    left: 0;
  }

  .slider__next {
    right: 0;
  }

  .slider__dots {
    top: 580px;
  }

  .slider__dot {
    color: #828282;

    &::after {
      background: #0f0f0f;
    }

    &:hover {
      color: #000;
    }

    &.active {
      color: #0f0f0f;
    }
  }
}

// PLayer
.player {
  position: relative;

  &__play {
    background: url("../img/play2.png");
    width: 70px;
    height: 70px;
    box-shadow: 0 6px 27px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
  }
}

// Products
.products {
  display: flex;
  justify-content: space-between;
  padding: 70px 40px 203px 25px;

  &__offer {
    width: 223px;
  }

  &__row {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 11px;
  }

  &__list {
    width: 870px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
  }

  &__item {
    margin: 45px 11px 0 10px;

    .product-img {
      width: 269px;
      height: 269px;
    }

    &:hover {
      .product-img img {
        transform: scale(1.1);
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.sort {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.6;
  margin-top: 20px;
  transition: all 0.5s ease;
  position: relative;

  &.active {
    opacity: 1;
  }
}

.sorts {
  margin-top: 55px;

  &__title {
    font-size: 16px;
    text-transform: uppercase;
  }

  &_kind {
    .sort {
      text-transform: uppercase;
      margin-top: 25px;
    }
  }

  &_color {
    .sort {
      margin-left: 14px;

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background: #0f0f0f;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -16px;
        opacity: 0;
      }

      &.active {
        margin-left: 31px;

        &::before {
          opacity: 1;
        }
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.product {
  &-img {
    background: #f4f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 25px;

    img {
      transition: all 0.5s ease;
    }
  }

  &-txt {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-desc {
    width: 232px;
    opacity: 0.6;
    font: 18px/1.111 "Work Sans", sans-serif;
    letter-spacing: normal;
    margin-top: 3px;
  }
}

.pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  color: #b671db;
  text-transform: lowercase;
}

.stars {
  display: flex;
}

.star {
  width: 17px;
  height: 16px;

  &:not(:last-child) {
    margin-right: 4px;
  }

  &_painted {
    background: url("../img/star1.png") no-repeat;
  }

  &_unpainted {
    background: url("../img/star2.png") no-repeat;
  }
}

.sel {
  width: 105px;
  font: 700 14px "Oswald", sans-serif;
  text-transform: uppercase;
  color: #0f0f0f;
  opacity: 0.6;
  outline: none;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.6);

  &_price {
    margin-left: 28px;
  }
}

.gallery-view {
  background: url("../img/gallery-view.svg") no-repeat;
  width: 19px;
  height: 19px;
  margin-left: auto;
}

.spinner {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rect {
  background: #0f0f0f;
  width: 7px;
  height: 60px;
  margin-right: 3px;
  animation: loading 1.2s infinite ease-in-out;

  &_2 {
    animation-delay: -1.1s;
  }

  &_3 {
    animation-delay: -1s;
  }

  &_4 {
    animation-delay: -0.9s;
  }

  &_5 {
    animation-delay: -0.8s;
  }
}

@keyframes loading {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
  }
}

.not-found {
  font: 600 21px "Work Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Resource
.resource {
  padding-bottom: 117px;

  &__row {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__img {
    width: 885px;

    img {
      width: 100%;
    }
  }

  &__box {
    width: 582px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 112px;
    padding: 18px 0 49px 0;
  }

  &__content {
    width: 435px;
  }

  &__tagline {
    width: 83px;
    margin-top: 58px;
  }

  &__offer {
    width: 275px;
    margin-top: 5px;
  }

  &__desc {
    font: 18px "Work Sans", sans-serif;
    opacity: 0.6;
    letter-spacing: normal;
    margin-top: 13px;
  }

  &__nav {
    width: 63px;
    margin: 0 19px 0 auto;

    &:hover {
      i {
        margin-right: 2px;
      }
    }
  }

  &__link {
    width: 243px;
    margin-top: 34px;
  }
}

// Footer
.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba($color: #000, $alpha: 0.2);
  padding: 85px 25px 108px;

  &__links {
    display: flex;

    li:first-child {
      margin-right: 120px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:not(:first-child) {
      margin-top: 19px;
    }

    &:hover {
      color: #01bcd4;
    }
  }

  &__title {
    color: #b671db;
    font-size: 18px;
  }

  &__socials {
    text-align: center;
  }

  &__row {
    display: flex;
    margin-top: 15px;
  }

  &__social {
    color: #000;
    font-size: 25px;
    margin: 0 22px;

    i {
      transition: all 0.3s ease;
    }

    &:hover {
      color: #01bcd4;
    }
  }
}

// Cookie
.cookie {
  font-family: "Work Sans", sans-serif;
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  border: 1px solid rgba(169, 198, 204, 0.41);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.14);
  left: 0;
  background: #fff;
  width: 100%;
  transition: all 1s ease;
  z-index: 99;
  padding: 27px 24px 28px;

  &__title {
    font-size: 14px;
    font-weight: 700;
  }

  &__info {
    font-size: 12px;
    margin-top: 5px;
  }

  &__link {
    color: #01bcd4;
    text-decoration: underline;
    letter-spacing: normal;
  }

  &__agree {
    width: 110px;
    height: 40px;
    margin-right: 64px;
  }
}



// Cart page
.cart {
  padding: 0 25px 160px;

  &__box {
    display: flex;
    margin-top: 60px;

    .product-img {
      width: 150px;
      height: 150px;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .product-text:hover {
      text-decoration: underline;
    }

    .price {
      color: #000;
      margin-top: 14px;
    }

    .stars {
      margin-top: 13px;
    }
  }

  &__groups {
    display: flex;
  }

  &__group {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &:nth-child(1) {
      width: 270px;
      margin-right: 40px;
    }

    &:nth-child(3) {
      width: 346px;
    }

    &:nth-child(4) {
      width: 52px;
    }
  }

  &__title {
    opacity: 0.6;
    color: #0f0f0f;
  }

  &__item {
    margin-top: 14px;
  }

  &__delete {
    font-size: 17px;
    margin: 11px auto 0;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    right: 116px;
    bottom: 99px;
  }

  &_empty {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  &__img {
    width: 229px;
    height: 217px;
    margin: 20px auto 0;
  }

  &__not-found {
    position: static;
    transform: none;
    margin-top: 35px;
  }
}

.product-about {
  margin-left: 17px;
}

.quantity {
  width: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    font-size: 12px;
  }

  &__num {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    padding: 0;
    width: 100%;
    border: none;
    text-align: center;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.black-btn {
  color: #fff;
  background: #000;
  border: 2px solid transparent;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 8px 0;
  font-size: 14px;

  &:hover {
    color: #000;
    background: #fff;
    border-color: #000;
  }
}

.checkout {
  width: 267px;
}

.grand-total {
  font-size: 30px;
  margin: 0 90px -4px 22px;

  &-currency {
    font-size: 16px;
  }
}

// Order
.order {
  background: #fff;
  border: 1px solid rgba(169, 198, 204, 0.41);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  position: fixed;
  padding: 25px 25px 15px;
  transform: translate(-50%, -50%);

  &-overlay {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: opacity 0.2s linear, visibility 0.2s linear;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__close {
    top: 23px;
    right: 17px;
    width: 13px;
    height: 13px;
  }

  &__success {
    padding: 10px 15px 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;

  &__label {
    margin: 35px 0 10px;

    &_m {
      margin-top: 0;
    }
  }

  &-num-error {
    width: 267px;
  }

  &__holder {
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &-elem {
      width: 110px;
    }
  }

  &__btn {
    margin-top: 53px;
  }

  &__error {
    font-size: 12px;
    color: #db003e;
    margin-top: 5px;
  }
}

// Detail page
.detail {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 81px;

  &__box {
    margin-top: 107px;

    .stars {
      margin-top: 5px;
    }

    .offer {
      width: 499px;
    }
  }

  &__desc {
    width: 467px;
    color: #000;
    font: 20px/1.199 "Work Sans", sans-serif;
    letter-spacing: normal;
    margin-top: 25px;
  }

  &__input {
    width: 194px;
    color: #000;
    font-weight: 700;
    border: 2px solid #d3d3d3;
    padding: 8px 0 8px 18px;
    margin-top: 33px;
  }

  &__btns {
    display: flex;
    margin-top: 30px;
  }

  &__btn {
    width: 145px;
    margin-right: 18px;
  }
}

.fav {
  font-size: 27px;
}

.thumbs {
  display: flex;
  margin-top: 42px;
}

.thumb {
  width: 70px;
  height: 70px;
  border: 2px solid transparent;
  transition: all 0.1s ease;
  cursor: pointer;

  img {
    height: 100%;
    margin-left: 7px;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }

  &.active {
    border-color: #8c68a2;
  }
}

// Contact page
.contact {
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding-right: 25px;

  &__box {
    width: 76%;
    border-right: 1px solid #e5e5e5;
    margin-right: 32px;
  }

  &__offer {
    margin-top: 37px;
  }

  &__subtitle {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 25px;
  }

  &__txt {
    font: 18px/1.666 "Work Sans", sans-serif;
    opacity: 0.6;
    letter-spacing: normal;
    margin-top: 10px;
    transition: all 0.3s ease;

    &:hover {
      color: #01bcd4;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-elem {
      margin-top: 37px;
    }
  }

  &__submit {
    margin-top: 47px;
  }
}

.map {
  width: 100%;
  height: 700px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='.3333 .3333 .3333 0 0 .3333 .3333 .3333 0 0 .3333 .3333 .3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);

  /* Chrome 19+ & Safari 6+ */
  &-btns {
    display: flex;
  }

  &-btn {
    width: 20%;
    padding: 40px 0;
    text-transform: uppercase;

    &.active {
      background: #f2f4f6;
    }
  }
}

// 404 page
.empty {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #eee;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: -0.5px;
      transform: translateY(-160px);
      height: 160px;
      width: 2px;
      background: #00ffc0;
    }

    &:nth-of-type(1) {
      left: 20%;

      &::after {
        animation: drop 3s infinite linear;
        animation-delay: 0.2s;
      }
    }

    &:nth-of-type(2) {
      left: 40%;

      &::after {
        animation: drop 2s infinite linear;
        animation-delay: 0.7s;
      }
    }

    &:nth-of-type(3) {
      left: 60%;

      &::after {
        animation: drop 3s infinite linear;
        animation-delay: 0.9s;
      }
    }

    &:nth-of-type(4) {
      left: 80%;

      &::after {
        animation: drop 2s infinite linear;
        animation-delay: 1.2s;
      }
    }
  }

  &__box {
    width: 542px;
    color: #000;
    text-align: center;
    letter-spacing: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__offer {
    font-size: 188px;
    text-shadow: 4px 4px 0px #00ffc0;
    letter-spacing: 0.02em;
  }

  &__subtitle {
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-top: -27px;
  }

  &__txt {
    font: 16px "Work Sans", sans-serif;
    margin-top: 20px;
  }

  &__btn {
    width: 150px;
    padding: 9px 0 10px;
    display: block;
    text-transform: uppercase;
    box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
    transition: all 0.3s ease;
    margin: 25px auto 0;

    &:hover {
      background: #00ffc0;
      box-shadow: 0px 0px 0px 2px #00ffc0;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  &__social {
    width: 40px;
    margin: 0 7px;
  }
}

@keyframes drop {
  90% {
    height: 20px;
  }

  100% {
    height: 160px;
    transform: translateY(calc(100vh + 160px));
  }
}