@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham/GothamBook.eot");
  src: url("../fonts/Gotham/") format("embedded-opentype"),
    url("../fonts/Gotham/GothamBook.woff2") format("woff2"),
    url("../fonts/Gotham/GothamBook.woff") format("woff"),
    url("../fonts/Gotham/GothamBook.ttf") format("truetype"),
    url("../fonts/Gotham/GothamBook.svg#GothamBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Bold.eot");
  src: url("../fonts/Gotham/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Bold.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Bold.ttf") format("truetype"),
    url("../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Light.eot");
  src: url("../fonts/Gotham/Gotham-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gotham/Gotham-Light.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Light.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Light.ttf") format("truetype"),
    url("../fonts/Gotham/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham/Gotham-Medium.eot");
  src: url("../fonts/Gotham/Gotham-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Gotham/Gotham-Medium.woff2") format("woff2"),
    url("../fonts/Gotham/Gotham-Medium.woff") format("woff"),
    url("../fonts/Gotham/Gotham-Medium.ttf") format("truetype"),
    url("../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"),
    url("../fonts/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Gotham", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

button {
  display: block;
  border: none;
  outline: none !important;
}

.container {
  width: 1220px;
  margin: 0 auto;
}
.section-container {
  width: 1440px;
  margin: 0 auto;
}
.section-title {
  font-family: "Proxima Nova", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #22386a;
}

// Header
.header {
  padding: 26px 0 15px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
  }

  &__text {
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    &:first-child {
      margin-right: 130px;
    }
  }
  &__btn {
    font-family: "Gotham Book", sans-serif;
    width: 117px;
    background: #22386a;
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding: 8px 0 9px;
    text-transform: uppercase;
    display: none;
  }
}

// Step
.step {
  background: #f8f8fa;

  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__content {
    width: 420px;
    margin-right: 133px;
  }

  &__desc {
    font-family: "Proxima Nova", sans-serif;
    font-size: 48px;
    line-height: 1.2;
    color: #22386a;
  }

  &__btn {
    width: 312px;
    background: #22386a;
    color: #fff;
    font-family: "Gotham Book", sans-serif;
    font-size: 24px;
    text-align: center;
    transition: all 0.1s ease;
    text-transform: uppercase;
    padding: 25px 0 26px;
    margin-top: 60px;
    &:hover {
      background: lighten(#22386a, 7%);
    }
  }

  &__video {
    position: relative;

    &__content {
      position: absolute;
      bottom: 67px;
      left: 99px;
    }

    &__title {
      font-size: 64px;
      font-weight: 700;
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 4px;
        height: 104px;
        background: #fff;
        position: absolute;
        left: -34px;
        top: 11px;
      }
    }

    &__subtitle {
      font-size: 24px;
      font-weight: 500;
      display: block;
      text-transform: uppercase;
      margin-top: 6px;
    }
  }
  &__play {
    width: 180px;
    height: 180px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: 10px;
    }
  }
}

// Feature
.feature {
  padding: 97px 0 91px;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  &__item {
    img {
      width: 100%;
    }
    &:nth-child(1) {
      width: 256px;
      margin-right: 123px;
    }

    &:nth-child(2) {
      width: 114px;
      margin-right: 105px;
    }
    &:nth-child(3) {
      width: 288px;
    }
  }
}

// Quality
.quality {
  background: #f8f8fa;
  padding-top: 90px;
  .section-container {
    position: relative;
  }
  &__items {
    display: flex;
    justify-content: center;
    margin-top: 103px;
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-right: 135px;
    }
  }

  &__view {
    width: 245px;
    height: 245px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  &__desc {
    font-family: "Gotham Book", sans-serif;
    font-size: 28px;
    color: #22386a;
    text-transform: uppercase;
    margin-top: 50px;
  }
}

.transform {
  font-family: "Gotham Book", sans-serif;
  margin-top: 145px;

  &__box {
    background: #22386a;
    width: 920px;
    padding: 168px 0 219px;
  }

  &__content {
    width: 563px;
    margin-left: 120px;
  }

  &__title {
    font-family: "Proxima Nova", sans-serif;
    font-size: 52px;
  }

  &__desc {
    font-size: 28px;
    line-height: 1.285;
    letter-spacing: 0.02em;
    margin-top: 49px;
  }

  &__view {
    height: 454px;
    background: #fff;
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &__item {
      position: relative;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__nav {
    color: #22386a;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    bottom: 71px;
  }

  &__before {
    left: 19px;
  }

  &__after {
    right: 19px;
  }
}

// Products
.products {
  color: #22386a;
  padding: 214px 0 256px;
  &__title {
    font-family: "Proxima Nova", sans-serif;
    font-size: 52px;
    text-align: center;
    letter-spacing: 0.02em;
  }
  &__items {
    display: flex;
    justify-content: center;
    margin-top: 125px;
  }
  &__item {
    &:first-child {
      margin-right: 127px;
    }
  }
  &__colors {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  &__color {
    background: #d7ae93;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &:nth-child(2) {
      background: #bb8c69;
    }
    &:nth-child(3) {
      background: #6f4d39;
    }
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__text {
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__name {
    font-weight: 700;
    margin-top: 62px;
  }
  &__btn {
    color: #fff;
    width: 300px;
    font-weight: 400;
    background: #22386a;
    transition: all 0.1s ease;
    margin: 20px auto 0;
    padding: 16px 0 17px;
    &:hover {
      background: lighten(#22386a, 7%);
    }
  }
}

// About
.about {
  background: #22386a;
  padding: 121px 0 176px;
  .section-title {
    color: #fff;
  }
  &__box {
    display: flex;
    &_first {
      justify-content: flex-start;
      margin-top: 120px;
    }
    &_second {
      justify-content: flex-end;
      margin-top: 195px;
    }
  }
  &__title {
    font-family: "Proxima Nova", sans-serif;
    font-size: 52px;
    line-height: 1;
  }
  &__photo_first {
    margin-right: 190px;
  }
  &__photo_second {
    margin-left: 125px;
  }
  &__content_first {
    width: 496px;
  }
  &__content_second {
    width: 581px;
    margin-top: 34px;
  }
  &__desc {
    font-family: "Gotham Book", sans-serif;
    font-size: 28px;
    line-height: 1.285;
    letter-spacing: 0.02em;
    margin-top: 60px;
    &_first {
      width: 457px;
    }
    &_second {
      width: 435px;
    }
  }
  &__btn {
    color: #fff;
    width: 352px;
    font-size: 24px;
    font-weight: 700;
    border: 2px solid #fff;
    text-align: center;
    transition: all 0.2s ease;
    text-transform: uppercase;
    padding: 18px 0 16px;
    margin-top: 126px;
    &_second {
      width: 423px;
    }
    &:hover {
      color: #22386a;
      border: 2px solid #22386a;
      background: #fff;
    }
  }
}

// Reviews
.review {
  background: #f8f8fa;
  padding: 112px 0 85px;
}

.reviews {
  height: 693px;
  margin-top: 71px;
  .swiper-slide-active {
    .reviews__item {
      background: #fff;
      margin-top: 90px;
    }
  }

  .swiper-pagination-bullet-active {
    background: #22386a !important;
  }
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: #dfdfdf;
    opacity: 1;
    margin: 0 11px !important;
  }
  &__item {
    width: 898px;
    box-shadow: 8px 8px 40px rgba(184, 184, 184, 0.25);
    padding: 59px 0 46px;
    margin: 0 auto;
    transition: all 0.2s ease;
  }
  &__content {
    width: 742px;
    text-align: center;
    color: #22386a;
    margin: 0 auto;
  }
  &__text {
    font-size: 28px;
    line-height: 1.285;
    font-weight: 300;
  }
  &__author {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    margin: 56px auto 0;
  }
  &__raitings {
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }
  &__raiting {
    &:not(:last-child) {
      margin-right: 2px;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
  }
}

// Footer
.footer {
  background: #000;
  padding: 19px 0 11px;
  &__row {
    display: flex;
    align-items: center;
  }
  &__socials {
    display: flex;
    margin-left: 127px;
  }
  &__social {
    font-size: 30px;
    color: #fff;
    &:not(:last-child) {
      margin-right: 32px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}

.copyright {
  font-family: "Gotham Book", sans-serif;
  font-size: 24px;
  margin-left: auto;
}

// Media Queries
@media screen and (max-width: 1440px) {
  .container {
    width: 1201px;
  }
  .section-container {
    width: 100%;
  }
  .header__logo {
    width: 120px;
    img {
      width: 100%;
    }
  }
  .header__text {
    font-size: 12px;
  }
  .header__text:first-child {
    margin-right: 193px;
  }
  .step__content {
    width: 310px;
    margin-right: 350px;
  }
  .step__desc {
    font-size: 32px;
    line-height: 1.218;
  }
  .step__btn {
    width: 212px;
    font-size: 18px;
    padding: 17px 0 16px;
    margin-top: 42px;
  }
  .step__thumb {
    width: 512px;
    img {
      width: 100%;
    }
  }
  .step__play {
    width: 128px;
    height: 128px;
    img {
      width: 52px;
      margin-left: 8px;
    }
  }
  .step__video__content {
    left: 71px;
    bottom: 44px;
  }
  .step__video__title {
    font-size: 48px;
    &::before {
      height: 74px;
      left: -27px;
    }
  }
  .step__video__subtitle {
    font-size: 18px;
  }
  .feature {
    padding: 87px 0 81px;
  }
  .feature__items {
    margin-top: 15px;
  }
  .feature__item:nth-child(1) {
    width: 200px;
    margin-right: 196px;
  }
  .feature__item:nth-child(2) {
    width: 94px;
    margin-right: 173px;
  }
  .feature__item:nth-child(3) {
    width: 234px;
  }
  .quality {
    padding-top: 104px;
  }
  .quality__item:not(:last-child) {
    margin-right: 193px;
  }
  .quality__view {
    width: 150px;
    height: 150px;
  }
  .quality__desc {
    font-size: 18px;
    margin-top: 60px;
  }
  .transform__box {
    width: 929px;
    padding: 142px 0 193px;
  }
  .transform__content {
    width: 360px;
    margin-left: 200px;
  }
  .transform__title {
    font-size: 36px;
  }
  .transform__desc {
    font-size: 18px;
    line-height: 1.333;
  }
  .transform__view {
    height: 345px;
  }
  .transform__view__item {
    width: 276px;
    img {
      width: 100%;
      height: 100%;
    }
    &:first-child {
      margin-right: 7px;
    }
  }
  .transform__nav {
    font-size: 12px;
    bottom: 32px;
  }
  .transform__before {
    left: 31px;
  }
  .transform__after {
    right: 31px;
  }
  .products {
    padding: 118px 0 145px;
  }
  .products__title {
    font-size: 36px;
  }
  .products__items {
    margin-top: 95px;
  }
  .products__item:first-child {
    margin-right: 113px;
  }
  .products__photo {
    width: 314px;
    img {
      width: 100%;
    }
  }
  .products__colors {
    margin-top: 43px;
  }
  .products__color {
    width: 35px;
    height: 35px;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  .products__text {
    font-size: 17px;
  }
  .products__name {
    margin-top: 41px;
  }
  .products__btn {
    width: 250px;
    padding: 20px 0;
    margin-top: 29px;
  }
  .about {
    padding: 120px 0 168px;
  }
  .about__photo_first {
    width: 468px;
    margin-right: 211px;
    img {
      width: 100%;
    }
  }
  .about__photo_second {
    width: 442px;
    margin-left: 240px;
    img {
      width: 100%;
    }
  }
  .about__content_first {
    width: 382px;
    margin-top: 22px;
  }
  .about__content_second {
    width: 455px;
    margin-top: 44px;
  }
  .about__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .about__desc {
    font-size: 18px;
    line-height: 1.333;
    margin-top: 34px;
    &_first {
      width: 355px;
    }
    &_second {
      width: 371px;
    }
  }
  .about__btn {
    width: 352px;
    font-size: 18px;
    margin-top: 115px;
    padding: 25px 0;
    &_second {
      width: 400px;
    }
  }
  .review {
    padding: 138px 0 149px;
  }
  .reviews {
    height: 700px;
    margin-top: 51px;
    .swiper-slide-active .reviews__item {
      margin-top: 71px;
    }
    &__item {
      width: 736px;
      padding: 74px 0 61px;
    }
    &__content {
      width: 604px;
    }
    &__text {
      font-size: 22px;
      line-height: 1.636;
    }
    &__author {
      margin-top: 75px;
    }
    &__raitings {
      margin-top: 24px;
    }
    &__raiting {
      width: 11px;
      img {
        width: 100%;
      }
    }
    &__name {
      font-size: 24px;
      margin-top: 6px;
    }
  }
  .copyright {
    font-size: 18px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    width: 1111px;
  }
  .step__content {
    margin-right: 300px;
  }
  .transform__content {
    margin-left: 150px;
  }
  .about__photo_first {
    margin-right: 161px;
  }
  .about__photo_second {
    margin-left: 190px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1011px;
  }
  .step__content {
    margin-right: 200px;
  }
  .transform__content {
    margin-left: 100px;
  }
  .about__photo_first {
    margin-right: 91px;
  }
  .about__photo_second {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    width: 888px;
  }
  .header__row {
    width: 851px;
    margin: 0 auto;
  }
  .step__content {
    margin-right: 83px;
  }
  .transform__content {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 854px;
  }
  .section-title {
    font-size: 24px;
  }
  .header__row {
    width: 804px;
  }
  .header__text:first-child {
    margin-right: 47px;
  }
  .step {
    &__content {
      width: 236px;
      margin-right: 189px;
    }
    &__desc {
      font-size: 20px;
    }
    &__btn {
      width: 167px;
      font-size: 12px;
      padding: 11px 0 12px;
      margin-top: 29px;
    }
  }
  .step__thumb {
    width: 385px;
  }
  .step__play {
    width: 96px;
    height: 96px;
    img {
      width: 40px;
      margin-left: 6px;
    }
  }
  .step__video__content {
    left: 54px;
    bottom: 31px;
  }
  .step__video__title {
    font-size: 36px;
    &::before {
      height: 56px;
      left: -22px;
      top: 8px;
    }
  }
  .step__video__subtitle {
    font-size: 14px;
  }
  .feature__items {
    margin-top: 20px;
  }
  .feature__item {
    &:nth-child(1) {
      margin-right: 85px;
    }
    &:nth-child(2) {
      margin-right: 69px;
    }
  }
  .quality {
    padding-top: 79px;
  }
  .quality__items {
    margin-top: 95px;
  }
  .quality__item:not(:last-child) {
    margin-right: 122px;
  }
  .quality__view {
    width: 120px;
    height: 120px;
  }
  .quality__desc {
    font-size: 14px;
    margin-top: 51px;
  }
  .transform {
    margin-top: 340px;
    &__box {
      width: 100%;
      padding: 226px 0 68px;
    }
    &__content {
      width: 341px;
      text-align: center;
      margin: 0 auto;
    }
    &__title {
      font-size: 24px;
    }
    &__desc {
      font-size: 14px;
      line-height: 1.714;
      margin-top: 24px;
    }
    &__view {
      top: -186px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .products {
    padding: 106px 0 133px;
    &__title {
      font-size: 24px;
    }
    &__items {
      margin-top: 79px;
    }
    &__item:first-child {
      margin-right: 71px;
    }
    &__photo {
      width: 249px;
      height: 249px;
    }
    &__colors {
      margin-top: 33px;
    }
    &__btn {
      width: 200px;
      padding: 15px 0 16px;
    }
  }
  .about {
    padding: 109px 0 173px;
    &__box {
      &_second {
        margin-top: 116px;
      }
    }

    &__photo_first {
      width: 368px;
      margin-right: 139px;
    }
    &__photo_second {
      width: 354px;
      margin-left: 112px;
    }
    &__content {
      &_first {
        width: 276px;
        margin-top: 25px;
      }
      &_second {
        width: 315px;
        margin-top: 44px;
      }
    }
    &__title {
      font-size: 28px;
      line-height: 1.214;
    }
    &__desc {
      font-size: 14px;
      line-height: 1.428;
      &_first {
        width: 276px;
        margin-top: 28px;
      }
      &_second {
        width: 266px;
        margin-top: 35px;
      }
    }
    &__btn {
      width: 280px;
      font-size: 14px;
      padding: 18px 0 22px;
      margin-top: 113px;
      &_second {
        width: 300px;
      }
    }
  }
  .review {
    padding: 111px 0 125px;
  }
  .reviews {
    height: 655px;
    margin-top: 25px;
    .swiper-slide-active .reviews__item {
      margin-top: 45px;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 0 13px !important;
    }
    &__item {
      width: 622px;
      padding: 78px 0 71px;
    }
    &__content {
      width: 477px;
    }
    &__text {
      font-size: 18px;
      line-height: 1.333;
    }
    &__raitings {
      margin-top: 50px;
    }
    &__name {
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .footer {
    padding: 74px 0 65px;
    &__row {
      flex-direction: column;
    }
    &__socials {
      margin: 15px 0 0 0;
    }
  }
  .copyright {
    font-size: 14px;
    margin: 48px 0 0 0;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 804px;
  }
  .header__row {
    width: 754px;
  }
  .step {
    &__content {
      margin-right: 139px;
    }
  }
  .about {
    &__photo_first {
      margin-right: 89px;
    }
    &__photo_second {
      margin-left: 62px;
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 675px;
  }
  .header__row {
    width: 604px;
  }
  .step {
    &__content {
      margin-right: 79px;
    }
  }
  .about {
    &__photo_first {
      margin-right: 59px;
    }
    &__photo_second {
      margin-left: 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 593px;
  }
  .section-title {
    font-size: 18px;
  }
  .header {
    padding: 12px 0 7px;
    &__row {
      width: 511px;
    }
    &__logo {
      width: 75px;
    }
    &__text {
      display: none;
    }
    &__btn {
      display: block;
    }
  }
  .step {
    padding-top: 49px;
    &__row {
      flex-direction: column;
    }
    &__content {
      width: 293px;
      text-align: center;
      line-height: 1.2;
      margin: 0 auto;
    }
    &__btn {
      width: 176px;
      padding: 9px 0 10px;
      margin: 19px auto 0;
    }
    &__thumb {
      width: 440px;
    }
    &__play {
      width: 110px;
      height: 110px;
      border-width: 2px;
      img {
        width: 44px;
      }
    }
    &__video {
      margin-top: 49px;
    }
    &__video__content {
      left: 60px;
      bottom: 49px;
    }
    &__video__title {
      font-size: 24px;
      &::before {
        width: 2px;
        height: 50px;
        top: 4px;
        left: -22px;
      }
    }
    &__video__subtitle {
      font-size: 10px;
      margin-top: 11px;
    }
  }
  .feature {
    padding: 39px 0;
  }
  .feature__items {
    flex-direction: column;
    margin-top: 33px;
  }
  .feature__item:nth-child(1) {
    width: 111px;
  }
  .feature__item:nth-child(2) {
    width: 44px;
    margin-top: 26px;
  }
  .feature__item:nth-child(3) {
    width: 102px;
    margin-top: 10px;
  }
  .feature__item:nth-child(1),
  .feature__item:nth-child(2),
  .feature__item:nth-child(3) {
    margin-right: 0;
  }
  .quality__items {
    flex-direction: column;
    margin-top: 12px;
  }
  .quality__item {
    margin-top: 48px;
    &:not(:last-child) {
      margin-right: 0;
    }
  }
  .quality {
    &__view {
      margin: 0 auto;
    }
    &__desc {
      font-size: 12px;
      margin-top: 17px;
    }
  }
  .transform {
    margin-top: 192px;
    &__box {
      padding: 184px 0 60px;
    }
    &__view {
      height: 237px;
      top: -94px;
    }
    &__view__item {
      width: 191px;
      &:first-child {
        margin-right: 6px;
      }
    }
    &__nav {
      bottom: 20px;
    }
    &__before {
      left: 11px;
    }
    &__after {
      right: 11px;
    }
    &__content {
      width: 292px;
    }
    &__title {
      font-size: 18px;
    }
    &__desc {
      font-size: 12px;
      line-height: 1.166;
      margin-top: 21px;
    }
  }
  .products {
    padding: 83px 0 97px;
    &__title {
      font-size: 18px;
    }
    &__items {
      margin-top: 45px;
    }
    &__item {
      &:first-child {
        margin-right: 9px;
      }
    }
    &__photo {
      width: 202px;
      height: 202px;
    }
    &__colors {
      margin-top: 26px;
    }
    &__color {
      width: 30px;
      height: 30px;
      &:not(:last-child) {
        margin-right: 21px;
      }
    }
    &__text {
      font-size: 14px;
    }
    &__name {
      margin-top: 20px;
    }
    &__btn {
      width: 176px;
      padding: 17px 0 19px;
      margin-top: 31px;
    }
  }
  .about {
    padding: 69px 0 82px;
    &__box {
      &_first {
        margin-top: 42px;
      }
      &_second {
        margin-top: 81px;
      }
    }
    &__photo {
      width: 242px;
      height: 318px;
      &_first {
        margin-right: 76px;
      }
      &_second {
        margin-left: 72px;
      }
      img {
        height: 100%;
      }
    }
    &__content {
      &_first {
        width: 187px;
        margin-top: 0;
      }
      &_second {
        width: 206px;
        margin-top: 16px;
      }
    }
    &__title {
      font-size: 24px;
      line-height: 0.916;
      &_second {
        width: 184px;
      }
    }
    &__desc {
      font-size: 12px;
      line-height: 1.166;
      margin-top: 19px;
      &_first {
        width: 182px;
      }
      &_second {
        width: 175px;
      }
    }
    &__btn {
      width: 100%;
      font-size: 12px;
      border-width: 1px;
      padding: 11px 0 12px;
      margin-top: 38px;
      &_second {
        width: 100%;
      }
    }
  }
  .review {
    padding: 81px 0 63px;
  }
  .reviews {
    height: 525px;
    margin-top: 0;
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 4px !important;
    }
    &__item {
      width: 326px;
      padding: 62px 0 55px;
      margin-top: 60px;
    }
    &__content {
      width: 241px;
    }
    &__text {
      font-size: 12px;
      line-height: 1.166;
    }
    &__author {
      margin-top: 58px;
    }
    &__raiting {
      width: 7px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    &__name {
      font-size: 12px;
      margin-top: 7px;
    }
  }
  .footer {
    padding: 36px 0 30px;
    &__logo {
      width: 84px;
      img {
        width: 100%;
      }
    }
    &__socials {
      margin-top: 18px;
    }
    &__social {
      font-size: 22px;
      &:not(:last-child) {
        margin-right: 22px;
      }
    }
  }
  .copyright {
    font-size: 12px;
    margin-top: 43px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 463px;
  }
  .header__row {
    width: 441px;
  }
  .about {
    &__photo {
      width: 222px;
      height: 298px;
      &_first {
        margin-right: 56px;
      }
      &_second {
        margin-left: 52px;
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .container {
    width: 390px;
  }
  .header__row {
    width: 100%;
  }
  .about {
    &__photo {
      width: 192px;
      height: 298px;
      &_first {
        margin-right: 26px;
      }
      &_second {
        margin-left: 22px;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }
  .section-title {
    font-size: 15px;
  }
  .header {
    &__row {
      width: 100%;
    }
  }
  .header__logo {
    width: 65px;
  }
  .header__btn {
    width: 97px;
    font-size: 8px;
  }
  .step {
    padding-top: 40px;
  }
  .step__content {
    width: 249px;
  }
  .step__desc {
    font-size: 17px;
  }
  .step__btn {
    width: 150px;
    font-size: 9px;
    margin-top: 17px;
  }
  .step__video {
    margin-top: 40px;
  }
  .step__thumb {
    width: 100%;
  }
  .step__play {
    width: 80px;
    height: 80px;
  }
  .step__play img {
    width: 32px;
    margin-left: 4px;
  }
  .step__video__content {
    left: 43px;
    bottom: 38px;
  }
  .step__video__title {
    font-size: 18px;
  }
  .step__video__title::before {
    width: 2px;
    height: 37px;
    top: 3px;
    left: -18px;
  }
  .step__video__subtitle {
    font-size: 9px;
    margin-top: 8px;
  }
  .feature {
    padding: 29px 0;
  }
  .feature__items {
    margin-top: 27px;
  }
  .feature__item:nth-child(1) {
    width: 91px;
  }
  .feature__item:nth-child(2) {
    width: 37px;
    margin-top: 22px;
  }
  .feature__item:nth-child(3) {
    width: 84px;
    margin-top: 8px;
  }
  .quality {
    padding-top: 59px;
  }

  .quality__items {
    margin-top: 6px;
  }
  .quality__item {
    margin-top: 38px;
  }
  .quality__view {
    width: 90px;
    height: 90px;
  }
  .quality__desc {
    font-size: 10px;
    margin-top: 13px;
  }
  .transform {
    margin-top: 162px;
  }
  .transform__box {
    padding: 129px 0 50px;
  }
  .transform__view {
    height: 187px;
  }
  .transform__view__item {
    width: 141px;
  }
  .transform__view__item:first-child {
    margin-right: 5px;
  }
  .transform__nav {
    font-size: 9px;
    bottom: 16px;
  }
  .transform__before {
    left: 8px;
  }
  .transform__after {
    right: 8px;
  }
  .transform__content {
    width: 244px;
  }
  .transform__title {
    font-size: 15px;
  }
  .transform__desc {
    font-size: 10px;
    margin-top: 17px;
  }
  .products {
    padding: 43px 0 57px;
  }
  .products__title {
    font-size: 14px;
  }
  .products__items {
    margin-top: 25px;
  }
  .products__photo {
    width: 142px;
    height: 142px;
  }
  .products__colors {
    margin-top: 19px;
  }
  .products__color {
    width: 20px;
    height: 20px;
  }
  .products__color:not(:last-child) {
    margin-right: 11px;
  }
  .products__text {
    font-size: 11px;
  }
  .products__name {
    margin-top: 15px;
  }
  .products__btn {
    width: 126px;
    padding: 9px 0 11px;
    margin-top: 21px;
  }
  .about {
    padding: 54px 0 64px;
  }
  .about__box_first {
    margin-top: 37px;
  }
  .about__box_second {
    margin-top: 65px;
  }
  .about__photo {
    width: 127px;
    height: 215px;
  }
  .about__photo_first {
    margin-right: 20px;
  }
  .about__content_first {
    width: 148px;
  }
  .about__title {
    font-size: 19px;
  }

  .about__desc {
    font-size: 9px;
    margin-top: 14px;
  }
  .about__desc_first {
    width: 137px;
  }
  .about__btn {
    font-size: 9px;
    padding: 8px 0 9px;
    margin-top: 23px;
  }
  .about__title_second {
    width: 146px;
  }
  .about__desc_second {
    width: 132px;
  }
  .about__content_second {
    width: 155px;
    margin-top: 11px;
  }
  .review {
    padding: 71px 0 53px;
  }
  .reviews {
    height: 395px;
  }
  .reviews .swiper-slide-active .reviews__item {
    margin-top: 50px;
  }
  .reviews .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 3px !important;
  }
  .reviews__item {
    width: 266px;
    padding: 50px 0 40px;
  }
  .reviews__content {
    width: 181px;
  }
  .reviews__text {
    font-size: 9px;
  }
  .reviews__author {
    width: 55px;
    height: 55px;
    margin-top: 50px;
    img {
      width: 100%;
    }
  }
  .reviews__raitings {
    margin-top: 18px;
  }
  .reviews__raiting {
    width: 5px;
  }
  .reviews__name {
    font-size: 9px;
    margin-top: 4px;
  }
}
